@using FotoBlog.Models
@model DuzenleGonderiViewModel

@{
    ViewData["Title"] = "Gönderiyi Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Gonderiler" asp-action="Duzenle" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label"></label>
        <input asp-for="Baslik" type="text" placeholder="Göderinize bir başlık ekleyiniz." class="form-control" />
        <span asp-validation-for="Baslik" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input asp-for="ResimYolu" type="hidden" value="@Model.ResimYolu" />
        <img src="~/img/upload/@Model.ResimYolu" alt="@Model.Id" class="w-50" />
    </div>
    <div class="mb-3">
        <label asp-for="Resim" class="form-label"></label>
        <input asp-for="Resim" type="file" class="form-control" />
        <span asp-validation-for="Resim" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i> Evet, Düzenle</button>
        <button asp-controller="Home" asp-action="Index" class="btn btn-secondary me-3"><i class="fa-solid fa-x"></i> İptal</button>
    </div>
</form>