@{
    ViewData["Title"] = "Home Page";
}
@model List<Gonderi>

@if (Context.Request.Query["Sonuc"] == "Eklendi")
{
    <div class="alert alert-success">
        Gönderi başarıyla oluşturuldu.
    </div>
}

@if (Context.Request.Query["Sonuc"] == "Silindi")
{
    <div class="alert alert-success">
        Gönderi başarıyla kaldırıldı.
    </div>
}

@if (Context.Request.Query["Sonuc"] == "Duzenlendi")
{
    <div class="alert alert-success">
        Gönderi başarıyla güncellendi.
    </div>
}

<div class="gonderiler mt-2">
    <div class="d-flex  mb-3">
        <a class="btn btn-success ms-auto" asp-controller="Gonderiler" asp-action="Yeni"><i class="fa-solid fa-plus"></i> Yeni Gönderi Ekle</a>
    </div>
    @foreach (Gonderi gonderi in Model)
    {
        <div class="mb-4">
            <div>
                <h4>@gonderi.Baslik</h4>
                <img src="~/img/upload/@gonderi.ResimYolu" alt="@gonderi.Id" class="w-100" />
            </div>
            <div class="d-flex">
                <a asp-controller="Gonderiler" asp-action="Duzenle" asp-route-id="@gonderi.Id" class="btn btn-outline-success ms-auto mt-3"><i class="fa-solid fa-pen"></i> Düzenle</a>
                <a asp-controller="Gonderiler" asp-action="Sil" asp-route-id="@gonderi.Id" class="btn btn-outline-info ms-3 mt-3"><i class="fa-solid fa-trash"></i> Sil</a>
            </div>
        </div>
    }
</div>

