@model List<Gonderi>

@{
    ViewData["Title"] = "Home Page";
}


<div class="gonderiler">
    @if (Context.Request.Query["Sonuc"] == "Eklendi")
    {
        <div class="alert alert-success">
            Gönderi basariyla eklendi.
        </div>
    }

    <div class="d-flex mb-3">
        <a class="btn btn-success ms-auto" asp-action="Yeni" asp-controller="Gonderiler">Yeni Gönderi Ekle</a>
    </div></>

    @foreach (var gonderi in Model)
    {
        <div class="mb-4">
            <h4>@gonderi.Baslik</h4>
            <img class="w-100" src="~/img/upload/@gonderi.ResimYolu" />
        </div>
    }
</div>
